{% extends 'base.html' %}

{% block container %}
    <h1 class="display-5 mt-4">Летим {{ departures[request.path.replace('/departures/', '')] }}</h1>
    <p class="mb-4">Найдено {{ tours|length }} туров, от {{ (tours.values()|min(attribute="price")).price }} до {{ (tours.values()|max(attribute="price")).price }} рублей и от {{ (tours.values()|min(attribute="nights")).nights }} до {{ (tours.values()|max(attribute="nights")).nights }} ночей</p>
    <!-- CARDS -->
    <div class="row mt-5">
      {% for key, element in tours.items() %}
      <div class="col-4">
        <div class="card mb-4">
          <div class="embed-responsive embed-responsive-16by9">
             <img class="card-img-top embed-responsive-item" src="{{ element.picture}}" alt="" />
          </div>          
          <div class="card-body">
            <h2 class="h5 card-title">{{ element.title }}</h2>
            <p class="card-text">{{ element.description|truncate(150) }}</p>
            <p class="card-text">{{ element.date }}, {{ element.nights }} дней, {{ element.price }} P, {{ element.stars }} ⭐</p>
            <a href="{{ url_for('.tours', id=key) }}" class="btn btn-sm btn-primary">Подробнее</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
{% endblock %}